@import url("https://fonts.cdnfonts.com/css/calleo-trial?styles=159428");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Calleo-Trial", sans-serif;
  font-family: "Calleo Flux-Trial", sans-serif;

  background: linear-gradient(to right, #ebeef0, #ffffff);
}
